
.contacts-panel-index .data-table {
  display: table;
  list-style-type: none;
  width: 100%;
}

.contacts-panel-index .data-table > .row {
  display: table-row;
}

.contacts-panel-index .data-table > .header {
  background-color: #cccccc;
  font-weight: bold;
}

.contacts-panel-index .data-table > .row > .cell {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0.5%;
  padding-right: 0.5%;
}


